---
export const prerender = true;

import Layout from '../layouts/Page.astro';
---

<Layout>
	<main class="bg-slate-100">
		<p>
            <span class="text-3xl">about</span><br><br>
			i have a good idea about what to put here. stay tuned.
		</p>
	</main>
</Layout>
