---
export const prerender = true

import Layout from '../layouts/Page.astro'
import Score from '../components/Score.svelte'
---

<Layout>
	<main class="bg-slate-100">
		<p>
            <span class="text-3xl">about</span><br><br>
			i have a good idea about what to put here. stay tuned.
			<div class="flex justify-between w-[40%] m-auto">
				<Score value=100 size=50 />
				<Score value=50 size=50 />
				<Score value=100 size=50 />
				<Score value=20 size=50 />
			</div>
		</p>
	</main>
</Layout>
