---
export const prerender = false

import Layout from '../layouts/Page.astro'
import Commit from '../components/Commit.astro'
import commits from '../../public/changelog/all_commits.json'

//const projects = json.map((id) => id.default)

//console.log('commits: '+ commits)
---

<Layout>
	<main class="bg-slate-100 pt-2">
        <span class="text-3xl">changelog</span><br>
		{commits.map(c => (
		  <p><Commit data={c} /></p>
		))}
	</main>
</Layout>