---
export const prerender = false;

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ViewTransitions } from 'astro:transitions';
import Projects from './projects/index.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>
	<body class="w-full bg-white">
		<Header />
		<main class="p-0 w-full m-auto max-w-full bg-white">
			<Projects inline=true />
		</main>
		<Footer />
	</body>
</html>
