---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<main class="bg-white">
        topics page
	</main>
</Layout>