---
import HeaderLink from './HeaderLink.astro';
import { Image } from 'astro:assets';
import pfp from "../../public/apple-touch-icon.png"
---
<header class="h-[15%]">
    <nav>
        <div class="ml-[3%] text-sm flex items-center">
            <a href="/" title="Sami Fouad" class="flex items-center">
                <Image src={pfp} class="w-[60px] h-[60px] rounded-full mr-4" alt="Sami Fouad" />
            </a>
        </div>
        <!-- Keeping original internal links styling -->
        <div class="internal-links">
            <HeaderLink href="/">Projects</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
        </div>
    </nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
