---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ViewTransitions } from 'astro:transitions';
import Blox from '../components/Blox.svelte'

type Props = CollectionEntry<'projects'>['data'];

const { title, url, code, tag, colour } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>

	<body class="w-full bg-white">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
